/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;500;600;700&display=swap");

html {
  /* direction: rtl; */
  font-family: "Cairo", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.MuiSelect-select {
  color: white !important;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}
.MuiSvgIcon-root {
  color: white !important;
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
}
.css-1lqx20k-MuiStack-root {
  margin: 20px 0px !important;
}
.css-574lq2-MuiFormControl-root {
  margin: 8px 0px !important;
}
@media (max-width: 1300px) {
  .css-1lqx20k-MuiStack-root {
    flex-direction: column !important;
  }
  .css-1pi8xg4-MuiGrid2-root {
    text-align: center;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .css-48anut-MuiStack-root {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .css-14zyp9z-MuiGrid2-root,
  .css-bytlsb-MuiGrid2-root {
    width: fit-content !important;
  }
  .css-19r6kue-MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 20px !important;
  }
  .scrollUp {
    visibility: hidden;
  }
}
